/*
	BASIC STYLES
*/
body{
	/*overflow: hidden;*/
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}




/*
	FLEX BOX
*/
.d-f{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.f-jc{
	justify-content: center;
}
.f-jc-ac{
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}



/*
	NAVIGATION
*/
/*.header{
	position: fixed;
	background-color: royalblue;
	height: 100px;
	width: 100vw;
	top: 0;
}*/


/*
	MAIN PAGE
*/
#main{
	width: 100vw;
	height: 100vh;
	background-color: #222222;
}
.middle-part{
	width: 80%;
	padding-top: 100px; 
}
.middle-part header{
	padding-top: 50px;
}
.place-desc{
	color: #fff;
	margin-top: 100px;
}
.place-desc p {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	margin-bottom: 5px;
}
.rating{
	padding: 0;
	margin: 0;
}
.place-title,
.place-lead{
	color: #fff;
	font-size: 3rem;
	font-weight: 200;
	margin-bottom: 0px;
}
.place-title{
	font-weight: 400;
	font-size: 6rem;
}
.rating li{
	display: inline-block;
	/*margin-left: 5px;*/
}
.rating li i {
	font-size: 12px;
}
.left-part{
	background-color: red;
	height: 100%;
	width: 10%;
}
.right-part{
	background-color: red;
	height: 100%;
	flex: 1;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.next-arrow{
	color: #fff;
	text-align: right;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}


/*
	FOOTER
*/
.footer{
	position: fixed;
	background-color: royalblue;
	height: 150px;
	width: 100vw;
	bottom: 0;
}
.place-icons,
.place-words{
	color: #fff;
	text-align: center;
	margin-top: 40px;
}
.place-words{
	margin-top: 10px;
}
.place-words a{
	color: #fff;
}